body {
    font-family: 'Source Sans Pro', sans-serif; /*Arial, Helvetica, sans-serif;*/ 
    font-size: 1.0625rem;
    line-height:1.6;
}

.button{
    background: #052230;
    padding: 1em 2em;
    color: #fff;
    border:0;
    border-radius: 20px;
}
.button:hover {
    background: rgba(51, 51, 51, 0);
    border: 1px solid #000000;
    color: black;
}

.mobile-btn{
    display: none;
}

.modal-overlay{ 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal{
    background-color: #f4f4f4;
    /* le baje el width de 70 a 65 */
    width: 65%; 
    /* le puse un height de 60% */
    /*height: 80%; */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 55%;
        
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
    position: relative;
    top: -8%;
    right: -4%;
    background-color: transparent;
    border:none;
    

}

.closeBtn:hover,
.closeBtn.focus {
    color: rgb(95, 95, 95);
    text-decoration: none;
    cursor:pointer;
}

#submit-btn{
    background-color: #d0103a;
    position: relative;
    left: 0;
    width: 91%;
    margin-top: 8%;
}

.modal-header{
    background-color: #052230;
    width: 100%;
    /* le agregue height porq sino cambiar el tamaniio de la letra del h2 rompia el layout del form y info */
    height: 120px;
    color: white;
    border-radius: 8px 8px 0 0;
}

.modal-header h2{
    margin: 0;
    /* padding para alinear el texto con la base del icono */
    padding-top: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.7rem;
    font-size: 1rem;
}

.tabNav {
     display: none;
}

.fa-desktop {
    font-size: 4em;
    float: left;
    margin: 10px;
    padding: 10px;
}

#big {
    font-size: 1.875em;
    font-weight: 600;
}

.modal-body{
    /* le agregue el height 70% para q ocupe bien todo el tamanio nuevo del header */
     /* height: 70%; */
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 20px;
}

.info{
    font-size: 0.8em;
    width: 50%;
    /* te inverti el padding a right en vez de left porq descentraba las cosas */
    padding-right: 20px;  
}

.promo {
    border-radius: 8px;
    border: 1px solid #d0103a;
    text-align: center;
    padding: 7px;
}

.promo h3,
.promo p {
    margin: 0;
}

.promo p {
    font-size: 1.5em;
    color:#d0103a;
    font-weight: 700;
}


.horarios {
    /* un poco mas de espacio entre renglones */
    line-height: 1.2rem;
    
}
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.form-content{
    margin: auto;
}

.form p {
    font-size: 0.9em;
    padding-left: 15px;
    margin-top: 0;
}

.form input {
    border-radius: 20px;
    border: 1px solid grey;
    height: 1.8em;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

input{
    width: 85%;
    padding: 10px;
    margin: 8px 0;
}

/* hasta el final todo nuevo menos el keyframe */
/* aclaro el color y le saco peso */
.detail-soft {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: .8rem;
}
/* linea separadora de matricula y cuota */
.matricula {
    border-bottom: 1px solid rgba(0,0,0,0.5)
}

.pull-right {
    float: right;
}

.green {
    color: rgb(9, 197, 9);
    font-weight: 600;
}

.crossed {
    text-decoration: line-through;
}

.discounted-price {
    font-weight: 600;
    color: black;
    padding-left: 5px;
}

.detail-strong {
    font-weight: 600;
    font-size: 1rem;
    border-top: 2px solid black;
}
@keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
}

   @media only screen and (max-width: 480px) {

    .modal {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .closeBtn {
        right: 0;
        top: 0;
    }

    .modal-header {
        height: 15%;
        border-radius: 0;
    }

    .modal-header h2 {
        padding: 6px;
        margin: auto;
        text-align: center;

    }

    .modal-header i {
        display: none;
        
    }
    .modal-body{
        flex-flow: column;
        padding-top: 0;
    
    }
    
    .form{
        display: none;
    }
    .info {
        width: 100%;
    }

    .horarios {
        font-size: 1.1rem;
        line-height: 1.3;
        margin: 0;
        margin-bottom: 5%;
    }

    .header-horarios{
        font-size: 1.7rem;
        margin-bottom: 0;
        margin-top: 2%;
    }

    .matricula {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .curso {
        margin-bottom: 5%;
    }
    .hide{
        display: none;
    }

    .tabNav{
        display: block;
        font-size: 0.9rem;
        text-align: center;
    }
    .info-tab{
        border-bottom: 2px solid #052230;
         
        display: inline-block;
        width: 50%;
    }
    .inscripcion-tab {
        display: inline-block;
        width: 49%;
    }
    #submit-btn{
        display: none;
    }

    .mobile-btn-container {
        position: relative;
        bottom: 0;  
    }
    .mobile-btn {
        display: flex;
        width: 100%;
        height: 7vh;
        border: none;
        background-color: #d0103a;
        text-align: center;
       
    }

    

    #big {
        font-size: 1.5em;
    }
    
       
   }

